<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Miscellaneous Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <script type="module" src="/static/js/cart.js" rel="stylesheet" defer></script>
    <script type="module" src="/static/js/delete.js" rel="stylesheet" defer></script>
    <link rel="stylesheet" href="static/css/styles.css">
    <script type="module" src="/static/js/increase.js" rel="stylesheet" defer></script>
    <script type="module" src="/static/js/decrease.js" rel="stylesheet" defer></script>


    <link rel="stylesheet" type="text/css" href="/static/css/cart.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>
<body class="pict" >
<nav th:replace="product/navbar.html :: copy"></nav>

<div class="cart_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cart_container">
                    <div class="cart_title">Shopping Cart</div>
                    <div class="cart_items">
                        <ul class="cart_list" th:each="item : ${items}">
                            <li th:id="${item.getId}" id="cont" class="cart_item clearfix">
                                <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                    <div class="cart_item_image cart_info_col">
<!--                                        <div class="cart_item_title" >Picture</div>-->
                                        <img src="https://placehold.it/150x150/000/fff" th:attr="src='/static/img/product_' + ${item.getProduct().getId()} + '.jpg'" alt="" />

                                    </div>
                                    <div class="cart_item_name cart_info_col">
                                        <div class="cart_item_title">Title</div>
                                        <div class="cart_item_text" th:text="${item.getProduct().getName()}">Name</div>
                                    </div>

                                    <div class="cart_item_quantity cart_info_col">
                                        <div class="show cart_item_title" >Quantity</div>
                                        <div class="form-group d-flex justify-content-between">
                                        <div class="show cart_item_text"><button type="submit"  th:data-id="${item.getProduct().getId()}" class=" decrease btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                            </svg>
                                        </button></div>
                                        <div class="show cart_item_text" th:text="${item.getQuantity()}">1</div>
                                       <div class="show cart_item_text"> <button type="submit"  th:data-id="${item.getProduct().getId()}" class="add btn">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                            </svg>
                                       </button></div></div>
<!--                                        <div class="" >Quantity</div>-->
<!--                                        <div class="form-group d-flex justify-content-between">-->
<!--                                            <div class="cart_item_text">+</div>-->
<!--                                            <div class="cart_item_text" th:text="${item.getQuantity()}">1</div>-->
<!--                                            <div class="cart_item_text">-</div>-->
<!--                                        </div>-->
                                    </div>
                                    <div class="cart_item_price cart_info_col">
                                        <div class="cart_item_title">Price</div>
                                        <div class="cart_item_text" th:text="${item.getPrice()}">22000</div>
                                    </div>
                                    <div class="cart_item_total cart_info_col">
                                        <div class="cart_item_title">Total</div>
                                        <div class="cart_item_text" th:with="var=${item.getQuantity() * item.getProduct().getDefaultPrice()}" th:text="${var}" >00,00
                                        </div>
                                    </div>
                                    <div class="cart_item_total cart_info_col">
                                       <button type="submit" id="del" th:data-id="${item.getProduct().getId()}" class="delete btn">
                                           <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                               <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                           </svg></button>
                                    </div>
                                </div>
                            </li>
                    </div>
                    <div  class="order_total">
                        <div class="order_total_content text-md-right">
                            <div class="order_total_title">Order Total:</div>
                            <div class="order_total_amount" th:text="${totalPrice+'   USD'}" id="total">00.00</div>
                        </div>
                    </div>
                    <div class="cart_buttons"> <button type="button" class="button cart_button_clear" th:onclick="|window.location.href='@{/}'|">Continue Shopping</button><button type="button" th:onclick="|window.location.href='@{/authorize-payment}'|" class="button cart_button_checkout">Go to checkout</button> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-0 position-fixed w-100">
    <div th:replace="footer.html :: copy"></div>
</div>


</body>
</html>