<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Miscellaneous Shop</title>
    <script src="https://kit.fontawesome.com/302fa1c336.js" crossorigin="anonymous" defer></script>
    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <script type="module" src="/static/js/cart.js" rel="stylesheet" defer></script>

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>
<nav th:replace="product/navbar.html :: copy"></nav>

<section id="hero" class="section-p1 section-m1">
    <h4>Trade in offer</h4>
    <h2>Super deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons</p>
    <button>Shop now!</button>
</section>

<section id="product1" class="section-p1">
    <h2 th:text="${category}">category</h2>
    <p>Summer collection</p>
    <div class="pro-container">
        <div class="pro" th:each="prod,iterStat : ${products}">
            <img src="http://placehold.it/250x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'"
                 alt=""/>
            <div class="des">
                <span th:text="${prod.name}">label</span>
                <h5 th:text="${prod.description}">description</h5>
                <h5>category</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4 th:text="${prod.getPrice()}">price$</h4>
                <a href="" class="adding btn" th:data-id="${prod.getId()}">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <form th:action="@{/}" th:id="dropDown" method="post" class="newstext">">
        <select th:id="category" name="category">
            <option th:each="cat : ${categories}"
                    th:text="${cat.getName()}"
                    th:value="${cat.getName()}">

            </option>
        </select>
        <select name="supplier">
            <option th:id="supplier" th:each="supp : ${suppliers}"
                    th:text="${supp.getName()}"
                    th:value="${supp.getName()}">
            </option>
        </select>
        <input type="submit" th:id="submit" value="Save">
        <a href="/">
            Clear filters
        </a>
    </form>
</section>

<div th:replace="footer.html :: copy"></div>

<script src="static/js/main.js">
</script>

</body>
</html>