<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="product/navbar.html :: copy"></nav>
<section class="Form my-5 py-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="https://www.easio.io/landing/images/user/login.svg"
                     class="img-fluid"
                     alt="image"
                />
            </div>
            <div class="col-lg-7 py-5 pt-5">
                <h1 class="font-weight-bold py-3">REGISTER FORM</h1>
                <form method="post" action="">
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label>Email</label>
                            <input type="email" placeholder="Email-Address" name="username" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <label >Password</label>
                            <input type="password" placeholder="**********" name="password" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-7">
                            <button class="btn btn-dark" name="buttonClicked" type="submit">Register</button>
                        </div>
                        <a href="/"><button class="button" id="main-page-button">Main Page</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div th:replace="footer.html :: copy"></div>
</body>
</html>