<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

<body>

<div th:fragment="copy">
<!--    <div class="position-absolute">-->
<footer class="bg-dark mt-auto footer-dark text-white pt-5 pb-sm-0 position-sticky bottom-0 w-100 h-25">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h4 class="text-uppercase mb-4 font-weight-bold text-warning">Developers</h4>
                <p><a class="text-white" href="#">Ioana Iulia Serban</a></p>
                <p><a class="text-white" href="#">Maria Irina Preda</a></p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h4 class="text-uppercase mb-4 font-weight-bold text-warning">Emails</h4>
                <p><a class="text-white" href="https://www.facebook.com/ioana.pedroo">ioanaserban.iulia@gmail.com</a></p>
                <p><a class="text-white" href="https://www.facebook.com/mariairina.preda">mariairina.predaeu@gmail.com</a></p>
            </div>
        </div>
    </div>

</footer>
<!--    </div>-->
</div>
</body>
</html>
